<% include ../partials/header %>

    <header class="jumbotron">
        <div class="container">
            <h1><i class="fab fa-gripfire"></i> Welcome to Yelpcamp!</h1>
            <p>View our hand-picked campgrounds from all over the world!</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new Campgrouds</a>
            </p>
        </div>
    </header>

    <div class="row text-center">
      <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
              <figure class="figure">
                  <a href="/campgrounds/<%= campground._id %>">
                    <img class="img__img img-fluid rounded campground-img-cropped"
                    src="<%= campground.image %>" alt="<%= campground.name %>" title="<%= campground.name %>">
                  </a>
                  <figcaption class="figure-caption text-capitalize font-italic"><%= campground.name %></figcaption>
              </figure>

            </div>
        <% }); %>
    </div>


<% include ../partials/footer %>
