<% include ../partials/header %>

<!-- header park begin  -->

  <header style="width:100%">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <!-- slide images here  -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 campground-slideshow" src="/assets/images/K3mPv14.jpg" alt="Classic Campground">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 campground-slideshow" src="/assets/images/SBEmFpv.jpg" alt="Classic Campground">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 campground-slideshow" src="/assets/images/emvhOnb.jpg" alt="Classic Campground">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 campground-slideshow" src="/assets/images/2LSMCmJ.jpg" alt="Classic Campground">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 campground-slideshow" src="/assets/images/TVGe0Ef.jpg" alt="Calssic Campground">
          </div>
        </div>

        <!-- Cover Text & Search bar  -->
        <div class="carousel-caption d-none d-md-block">
            <h1><i class="fab fa-gripfire"></i> Welcome to Yelpcamp!</h1>
            <p>
              <h5>View our hand-picked campgrounds from all over the world!</h5>
            </p>

            <p>
              <form class="" action="/campgrounds" method="GET">
                <div class="row">
                  <div class="input-group col">
                    <input class="form-control py-2 border-right-0 border" type="search" name="search" placeholder="Search Your Campground Here ..." id="search-input">
                      <span class="input-group-append">
                          <button class="btn btn-outline-secondary border-left-0 border" type="submit">
                              <i class="fa fa-search"></i>
                          </butt>
                      </span>
                  </div>
                </div>
              </form>
            </p>
            <p>
              <em><i class="fas fa-fire" style="color: orange"></i> Trending Searchs: Park, lake ....</em>
            </p>
        </div>
      </div>
    </header>

    <hr>

<!-- header park end!-->
<div class="container">
  <div class="row text-center ">
    <% campgrounds.forEach(function(campground){ %>
          <div class="col-md-4 col-sm-6">
            <figure class="figure">
                <a href="/campgrounds/<%= campground._id %>">
                  <img class="img__img img-fluid rounded campground-item"
                  src="<%= campground.image %>" alt="<%= campground.name %>" title="<%= campground.name %>">

                  <figcaption class="figure-caption text-capitalize font-italic"><i class="fab fa-gripfire"></i> <%= campground.name %></figcaption>
                </a>
            </figure>

          </div>
      <% }); %>
  </div>

</div>


<!-- add pagination feature  -->
  <nav aria-label="Page navigation">
      <% if (pages && pages > 0) { %>
        <ul class="pagination justify-content-center">
            <% if (current == 1) { %>
              <li class="page-item disabled"><a class="page-link">First</a></li>
            <% } else { %>
              <li class="page-item"><a class="page-link" href="/campgrounds<%if(search){%>?search=<%=search%><%}%>">First</a></li>
            <% } %>

            <% if (current == 1) { %>
              <li class="page-item disabled"><a class="page-link">«</a></li>
            <% } else { %>
              <li class="page-item"><a class="page-link" href="/campgrounds?page=<%= Number(current) - 1 %><%if(search){%>&search=<%=search%><%}%>">«</a></li>
            <% } %>

            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
              <% if (i !== 1) { %>
                  <li class="page-item disabled"><a class="page-link">...</a></li>
              <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
              <% if (i == current) { %>
                  <li class="page-item active"><a class="page-link"><%= i %></a></li>
              <% } else { %>
                  <li class="page-item"><a class="page-link" href="/campgrounds?page=<%= i %><%if(search){%>&search=<%=search%><%}%>"><%= i %></a></li>
              <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
              <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
            <% } %>

            <% if (current == pages) { %>
            <li class="page-item disabled"><a class="page-link">»</a></li>
            <% } else { %>
            <li class="page-item"><a class="page-link" href="/campgrounds?page=<%= Number(current) + 1 %><%if(search){%>&search=<%=search%><%}%>">»</a></li>
            <% } %>

            <% if (current == pages) { %>
            <li class="page-item disabled"><a class="page-link">Last</a></li>
            <% } else { %>
            <li class="page-item"><a class="page-link" href="/campgrounds?page=<%= pages %><%if(search){%>&search=<%=search%><%}%>">Last</a></li>
            <% } %>
        </ul>
      <% } %>
  </nav>



<% include ../partials/footer %>
